<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="main-logic" class="com.srcelite.finalerp.web.mvc.MainLogic">
		
	</bean>

	<bean id="notice-logic" class="com.srcelite.finalerp.web.mvc.NoticeLogic" >
		
	</bean>

	<bean id="schedule-logic" class="com.srcelite.finalerp.web.mvc.ScheduleLogic">
		
	</bean>	

	<bean id="account-user-logic" class="com.srcelite.finalerp.web.mvc.AccountUserLogic">
		
	</bean>

	<bean id="account-manager-logic" class="com.srcelite.finalerp.web.mvc.AccountManagerLogic">
		
	</bean>

	<bean id="human-resource-logic" class="com.srcelite.finalerp.web.mvc.HumanResourceLogic">
		
	</bean>

	<bean id="approval-logic" class="com.srcelite.finalerp.web.mvc.ApprovalLogic">
		
	</bean>

	<bean id="project-history-logic" class="com.srcelite.finalerp.web.mvc.ProjectHistoryLogic">
		
	</bean>
</beans>