<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="data-source-target" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
	<!-- 외부 ip 연결 시 사용 부분  -->
<!--
		<property name="url">
			<value>jdbc:oracle:thin:115.91.81.108:15210:orcl11</value>
			-->
	<!-- 로컬 DB 사용 부분  -->
		<property name="url">
			<value>jdbc:oracle:thin:@115.91.81.108:15210:orcl11</value> 
		</property>
		<property name="username">
			<value>SRC_FINAL</value>
		</property>
		<property name="password">
			<value>tiger</value>
		</property>
	</bean>
	
	<!--spring을 사용하지 않는다면 mybatis-config.xml설정파일(오라클 정보 및 쿼리문.xml 매핑)로부터 
	SqlSessionFactory를 만들어야한다.  -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="WEB-INF/mybatis-config.xml"/>
		<property name="dataSource" ref="data-source-target"/>
	</bean>
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="main-dao" class="com.srcelite.finalerp.web.dao.MainDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
				<!-- 마이 페이지 내 정보 조회, 내 급여 조회 추가 -->	
	<bean id="my-page-dao" class="com.srcelite.finalerp.web.dao.MyPageDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>

	<bean id="notice-dao" class="com.srcelite.finalerp.web.dao.NoticeDao" >
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>

	<bean id="schedule-dao" class="com.srcelite.finalerp.web.dao.ScheduleDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>	

	<bean id="account-dao" class="com.srcelite.finalerp.web.dao.AccountDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>

	<bean id="human-resource-dao" class="com.srcelite.finalerp.web.dao.HumanResourceDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>

	<bean id="approval-dao" class="com.srcelite.finalerp.web.dao.ApprovalDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>

	<bean id="project-history-dao" class="com.srcelite.finalerp.web.dao.ProjectHistoryDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>


</beans>